*{margin:0;padding:0;outline:0}
body{font-family:arial;font-size:14px;line-height:18px;color:#000;}

.templete{width:960px;margin:0 auto;}
.clear{overflow:hidden;}
.headersection {
  background: #b7801c none repeat scroll 0 0;
  color: #fff;
}
.logo {
  float: left;
  width: 430px;
}

.navsection ul li ul{position:absolute; left:-999999999px ;}
.navsection ul li ul li {
	background: #E6AF4B;
	width: 200px;
	/* text-align: center; */
	padding-top: 0;
	text-align: justify;
	margin-left: -1px;
	border-right: 0px solid #9E6703;
	border-left:  0px solid #FBC965;
}
.navsection ul li ul li a {
	border-bottom: 1px solid #C18A26;
	cursor: pointer;
	/* text-align: center; */
	/* align-items: center; */
	padding: 11px;
	margin-top: 1px;
	padding-top: 13px;
}
.navsection ul li:hover ul{
	left:0;
}
.navsection ul li ul li a:hover{background:#FEF4E5;color:#333; }
.navsection ul li a:hover {
	background: #FEF4E5;
	color: #333;
	transition: 0.20s !impordant;
}
.navsection ul li ul li:last-child{
	border-bottom: 0px solid #C18A26;
}

#active{background:#FEF4E5;color:#333;}
.navsection ul li:first-child{
	border-left: 0px solid #E6AF4B;
}
.navsection ul li:last-child{
	border-right: 0px solid #E6AF4B;
}
.navsection ul li ul li:last-child{
	border-bottom: 0px solid #C18A26;
	border-bottom: 0px solid #C18A26;
	display:block;
}




input[type="submit"] {
  background: #b7801c none repeat scroll 0 0;
  border: 1px solid #e6af4b;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 1px 10px;
}

input[type="submit"] {
  background: #b7801c none repeat scroll 0 0;
  border: 1px solid #e6af4b;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 1px 10px;
}

input[type="submit"]:hover{background:#FEF4E5;color:#000;}
textarea {
	height: 110px;
	margin-bottom: 10px;
	padding: 5px;
	width: 300px;
	border: 1px solid #cfc5b6;
	resize: none;
	text-shadow: 25px 19px 3px;
	color: #000;
	box-shadow: 0px 1px 7px #191919;
	font-family: arial;
	/* text-decoration: overline blue; */
	text-overflow: clip;
	/* display: \\; */
	/* position: fixed; */
}
textarea:focus{
	height: 110px;
	margin-bottom: 10px;
	padding: 5px;
	width: 300px;
	border: 1px solid #cfc5b6;
	resize: none;
	text-shadow: 25px 19px 3px blue;
	color: #000;
	box-shadow: 0px 1px 7px blue;
	font-family: arial;
	/* text-decoration: overline blue; */
	text-overflow: clip;
	/* display: \\; */
	/* position: fixed; */
	color: blue;
}
.logo img {
  float: left;
  margin-right: 15px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  width: 70px;
}
.logo h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 11px;
  margin-top: 24px;
  text-shadow: 2px 2px 0 #666;
}
.logo p{}
.social {
	float: right;
	padding-top: 36px;
	width: 311px;
	text-align: right;
	margin-right: 20px;
}
.social img {
  width: 60px;
}


.sidebar {
	background: #fef4e5 none repeat scroll 0 0;
	border: 1px solid #b7801c;
	float: right;
	margin-bottom: 15px;
	margin-top: 0;
	padding: 10px;
	width: 253px;
}


.navsection {
  background: #e6af4b none repeat scroll 0 0;
}
.navsection ul{margin:0;padding:0;list-style:none;}
.navsection ul li {
	display: block;
	float: left;
	border-right: 1px solid #BD8622;
	border-left: 1px solid #E6AF4B;
}

#active{background:#FEF4E5;color:#333;}
.navsection ul li a {
	/* background: #c48d29 none repeat scroll 0 0; */
	/* border: 1px solid #b7801c; */
	/* border-radius: 2px; */
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: bold;
	/* margin: 10px; */
	padding: 5px 15px;
	text-decoration: none;
}

.navsection ul li a {
	background: #c48d29 none repeat scroll 0 0;
	/* border: 1px solid #b7801c; */
	/* border-radius: 2px; */
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: bold;
	/* margin: 5px; */
	/* padding: 5px 15px; */
	text-decoration: none;
	background: none;
	padding: 10px;
}



.slidersection {
  /*box-shadow: 0 8px 10px -2px #555;*/
  margin-bottom: 5px;
}
.contentsection{background:#FFFFFF;}
.maincontent {
	background: #fef4e5 none repeat scroll 0 0;
	border: 1px solid #b7801c;
	float: left;
	margin: 0 15px 15px 0;
	padding: 8px 20px;
	width: 596px;
}
.samepost{}
.samepost h2 , .about h2{
  border-bottom: 2px solid #e0d6c7;
  color: #ac7511;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 10px;
}
.samepost img {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ebb450;
  float: left;
  margin-right: 10px;
  padding: 5px;
  width: 200px;
}
.samepost p {
  font-size: 16px;
  line-height: 23px;
  text-align: justify;
}
.readmore {
  float: right;
  margin-top: 10px;
}
.readmore a {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #b7801c;
  border-radius: 3px;
  color: #b7801c;
  display: block;
  font-size: 17px;
  padding: 4px 8px;
  text-decoration: none;
}
.readmore a:hover{color:#E16525;}
.sidebar {
	background: #fef4e5 none repeat scroll 0 0;
	border: 1px solid #b7801c;
	float: right;
	margin-bottom: 15px;
	margin-top: 0;
	padding: 10px;
	width: 253px;
}

input[type="submit"]:hover{background:#FEF4E5;color:#000;}
textarea {
	height: 110px;
	margin-bottom: 10px;
	padding: 5px;
	width: 300px;
	border: 1px solid #cfc5b6;
	resize: none;
	text-shadow: 25px 19px 3px;
	color: #000;
	box-shadow: 0px 1px 7px #191919;
	font-family: arial;
	/* text-decoration: overline blue; */
	text-overflow: clip;
	/* display: \\; */
	/* position: fixed; */
}

input[type="text"], input[type="email"] {
  border: 1px solid #cfc5b6;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 5px;
  width: 300px;
}




textarea:focus{
	height: 110px;
	margin-bottom: 10px;
	padding: 5px;
	width: 300px;
	border: 1px solid #cfc5b6;
	resize: none;
	text-shadow: 25px 19px 3px blue;
	color: #000;
	box-shadow: 0px 1px 7px blue;
	font-family: arial;
	/* text-decoration: overline blue; */
	text-overflow: clip;
	/* display: \\; */
	/* position: fixed; */
	color: blue;
}
body{font-family:arial;font-size:14px;line-height:18px;color:#000; background-image: url(images//bg.png)fixed;}


.samesidebar{}
.samesidebar h2 , .post h2 {
  background: #e6af4b none repeat scroll 0 0;
  border-bottom: 2px solid #b7801c;
  color: #333;
  margin-bottom: 8px;
  padding: 10px;
}
.footermenu p {
	font-family: cursive;
}


.footersection {
	height: 90px; 
	background: #B7801C;
	
}
/*.footersection p {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}*/

/* .footermenu { */
	/* margin: 0; */
	/* padding: 0; */
	/* text-align: center; */
	/* padding: 14px; */
	/* margin-top: 12px; */
/* } */
/* .footermenu ul{list-style:none; } */
/* .footermenu ul li{display:inline-block;} */
/* .footermenu ul li a { */
	/* text-align: center; */
	/* color: #E6AF4B; */
	/* margin-right: 5px; */
	/* margin-bottom: ; */
	/* display: block; */
	/* margin-bottom: 15px; */
/* } */

/* .footermenu ul li a:hover{ */
	/* color:red; */
/* } */

.post{margin-bottom:16px;}
.post h2{}
.post a {
	line-height: 26px;
	text-decoration: none;
	/* background: #fff; */
	display: block;
	border-bottom: 1px solid #E1D7C8;
	color: #B17A3C;
	font-size: 15px;
}
.post a:hover {
	color: red;
	transition: 0.2s;
	
}

.post a:nth-child(7){
	border-bottom: 0px solid #E1D7C8;
}




.headersection {
	background: #c18a26 none repeat scroll 0 0;
	color: #fff;
}
.contemplete {
	ghtyhyfy: ;
	width: 928px;
	border: 1px solid #A27123;
	margin: 0 auto;
	padding: 15px;
}
.maincontent {
	background: #fef4e5 none repeat scroll 0 0;
	border: 1px solid #E7E1DA;
	float: left;
	margin: 0 15px 15px 0;
	padding: 8px 18px;
	width: 600px;
}
.sidebar {
	border: 1px solid #E7E1DA !impordant;
	border: 1px solid #E7E1DA;
}
.contentsection {
	background: #FFFFFF;
	padding: 15px;
}

